<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel | Admin</title>
    

    
    

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
    
    
    
    
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link href="/static/css/app.5b41249b27cc2e1412a31b17f7cb111f.css" rel="stylesheet"></head>

<body class="hold-transition skin-blue sidebar-mini">

<div id="app" class="wrapper">
    
</div>






<script src="/static/admin-lte/js/jquery-2.2.3.min.js"></script>

<script src="/static/admin-lte/js/bootstrap.js"></script>

<script src="/static/admin-lte/js/app.js"></script>

<script type="text/javascript" src="/static/js/manifest.6ad8be7893b6e65dafd0.js"></script><script type="text/javascript" src="/static/js/vendor.49023da89375a1fafefc.js"></script><script type="text/javascript" src="/static/js/app.51a4cad3fec7d65cb880.js"></script></body>
</html>










