<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>hotel-client</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
<link href="/static/css/app.6b80b33728619f19aa30f8aa98167750.css" rel="stylesheet"></head>
<body>
<div id="app">
    
</div>


<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/manifest.20bbd4c57517aa3fc86d.js"></script><script type="text/javascript" src="/static/js/vendor.eeaf313848b3e0efdd16.js"></script><script type="text/javascript" src="/static/js/app.094668bad09bfa07366f.js"></script></body>
</html>












